.bg-color{
    background-color: #001F47;
    

}

.p_color2{
    background-color: #20B7CB;
    

}

.admin .nav-link{
    color: aliceblue;
}
.summary .card{
    box-shadow: 0 0.125rem 0.125rem 0.25rem rgb(0 0 0 / 8%); 
    border-radius: 15px 80px  15px  15px;
}

.featured_courses_card,.courses_table{

    box-shadow: 0 0.125rem 0.125rem 0.25rem rgb(0 0 0 / 8%);
    border-radius: 15px;
}
.courses_table img{
    width: 20%!important;
    height: 40%!important;
    
}

.admin_course_table .row{
  
    flex-wrap:nowrap!important;
}

.add_course form{
    width:auto;
    /* text-align: center; */
}

.add_course .modal-content{
     max-width: 80% !important;
     margin:0 auto;
}

.add_course textarea{
    height: 200px !important;
}

.course_btn{
    width: 100%;
    text-align: center;
} 
